@import url(_reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply bg-yellow-400 text-black font-normal px-6 py-2 rounded-md hover:bg-yellow-500;
  }

  button:disabled {
    @apply bg-gray-400 text-gray-700 cursor-not-allowed;
  }
}

@layer base {
  a {
    @apply no-underline text-inherit;
  }

  a:hover {
    @apply no-underline;
  }
}

@layer utilities {
  #createPostButton,
  #logoutBtn {
    @apply hidden;
  }
}

.spinner {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(2px);
  z-index: 9999;
}

.spinner::after {
  content: '';
  width: 3rem;
  height: 3rem;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
